ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}


/* Write your CSS below, don't change the rules above. */

/* TODO 1: Set the CSS for all paragraph tags to "color: red;" */
p {
  color: red;
}

.not {
  font-size: 100px;
}

/* TODO 3: Set the CSS for the element with an id of "id-selector-demo" to "color: green;" */
#id-selector-demo {
  color: green;
}

/* TODO 4: Set the CSS for the li elements that have the "value" attribute set to "4" to have "color: blue;" */
li[value="4"] {
  color: blue;
}

/* TODO 5: Set all elements to have "font-family: sans-serif;" */
* {
  text-align: center;
}

